<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>All books</h2>
        <li class="list-group-item mb-3" *ngFor="let book of books, let i = index" >
            <h3 (click)="onView(i,'allBook')">{{book.title}}</h3>
            <p class="list-group-item-text">{{book.owner}}</p>
            <button 
                [ngClass]="book.borrow ? 'btn btn-danger' : 'btn btn-success'" 
                [disabled]="book.borrow" (click)="isBorrow(book)" 
                *ngIf="book.owner !== owner.firstName">
                Borrow
            </button>
        </li>
    </div>
</div>

