<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Sign in</h2>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" class="form-control" formControlName="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="email" type="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">Sign in</button>
        </form>
        <p class="text-danger">{{errorMessage}}</p>
    </div>
</div>